* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(250.99deg, #ce93d8, #9c27b0 170%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 400px;
}

.square {
  width: 16px;
  height: 16px;
  background: #d1c4e9;
  margin: 2px;
  box-shadow: 0 0 2px #311b92;
  transition: 2s ease;
}

.square:hover {
  transition-duration: 0s;
}
